nav{
    background-color: #4B1621;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5)
}
.jumbotron{
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80vh;
    margin-bottom: 0;
    border-radius: 0%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
.container{
    background-color: rgba(0, 0, 0, 0.5);
    height:100%;
    width:100%;
    margin:0;
    color: #ffffff;
}
.img-thumbnail{
    border: none;
}
.jumbo1{
    background-image: url(/Dapper/img/194A1920.jpg);
   background-size: cover;
   margin:0;
   padding:0;
   padding:0;
   background-attachment: fixed;
}
.jumbo2{
    background-image: url(/Dapper/img/194A2206.jpg);
   background-size: cover;
   margin:0;
   padding:0;
   padding:0;
   background-attachment: fixed; 
}
.jumbo3{
    background-image: url(/Dapper/img/194A2052.jpg);
   background-size: cover;
   margin:0;
   padding:0;
   background-attachment: fixed;
}

h1{
    font-family: 'Courgette', cursive;
}
.spacer{
    background-color: #4B1621;
    color: #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
.footer{
    height: 60px;
    background-color: #4B1621;
    color: #ffffff;
}